# Shared secrets
wifi_ssid: "<your_wifi_ssid>"
wifi_password: "<your_wifi_password>"

# Wordclock secrets
wordclock__encryption_key: "<your_encryption_key>"
wordclock__ota_secret: "<your_ota_secret>"
wordclock__ap_password: "<your_ap_password>"
